/* Desktop View*/
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

nav{
	display:flex;
	justify-content:space-around;
	align-items: center;
	min-height:8vh;
	background-color:#003262;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.logo{
	color: rgb(226,226,226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links{
	display:flex;
	justify-content:space-around;
	width: 100%;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	color: rgb(226,226,226);
	text-decoration:none;
	letter-spacing:3px;
	/*font-weight: bold;*/
	font-size: 14px;
}
/* Defining our mobile view*/
.burger{
	display:none;
	cursor:pointer;
}

.burger div{
	width:25px;
	height:3px;
	background-color: rgb(226,226,226);
	margin: 5px;
	transition: all 0.3s ease-in;
}
@media screen and (max-width:1024px){
	.nav-links{
		width:100%;/* gives us our width once we go down to a certain percentage of the screen*/
		z-index:2; 
	}
}
@media screen and (max-width:850px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color:#003262;
		display: relative;
		flex-direction: column;
		align-items: center;
		width:100%;
		transform: translateX(100%); /* translateX will do a hornizontal transition, translateY will do a vertical transition*/
		transition: transform 0.5s ease-in;
		z-index:2;
	}
	.nav-links li{
		opacity:0;
	}
	.burger{
		display: block;
	}
	.slider{
		opacity:0;
	}
	.presentation{
		flex-direction:column;
		font-size: 95%;
		margin: 0 auto;
		width: 100%;
		margin-top:2%;
	}
	
	
}

.nav-active{
	transform: translateX(0%);
}

/*Animations*/
@keyframes navLinkFade{
	from{
		opacity:0;
		transform: translateX(50px);
	}
	to{
		opacity:1;
		transform: translateX(0px);
	}

}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity:0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, 6px);
}

